// colors
$bg: #fff;

// stuff
body {}

// nav
nav {

  background: linear-gradient(#fff, #fff 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  position: fixed;
  padding: 1em 2em;

  section._name {
    margin: .5em 0;
  }

  section._jump {
    margin-top: .5em;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  a h1 {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: -.5px;

    color: black;
  }

  select {
    padding: .5em;
    font-size: 16px;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
    justify-content: space-between;
  }

}


// main

main {
  padding: 2em;

  @media only screen and (max-width: 600px) {
    padding: .5em;
  }
}

.intro {

  margin: 0 auto;
  width: 90%;
  max-width: 650px;

  p {
    text-indent: 4vw;


    @media only screen and (max-width: 600px) {
      text-indent: 40px;
    }

  }

}

p a {
  display: inline !important;
}

hr {
  margin: 2em auto;
}


h3 {
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: -.5px;
  margin-bottom: .5em;
}

h4 {
  font-weight: normal;
  font-size: 1.25em;
  letter-spacing: -.25px;
}


// quirky

section#talks a,
section#experiments a,
section#writing a {
  display: block;
  padding: .15em 0;
}

section p {
  //  max-width: 480px;
}

.links {



  a sup {
    display: inline-block;
    color: #000;
    text-decoration-color: #fff;
    line-height: 80%;
    letter-spacing: -.25px;
    ;
  }

}

#socials a {}

#bucketlist {

  input {
    pointer-events: none;
  }

  label {
    font-size: 16px;
    letter-spacing: -.1px;
  }

}
