
$link-hover: blue;

$serif: "Times New Roman", serif;

body {
  line-height: 100%;

  @media only screen and (max-width: 600px) {
    overflow: hidden;
  }
}


a {
  text-decoration: none;
}

// NO

#no{

  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;vertical-align: center;
  display: none;
  
  div{
    font-size: 4em;
    letter-spacing: -1px;
  }
  
}


// YES

#landing {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: top;

  .box-inner {
    padding: 2em;
    margin-top: -1em;
    vertical-align: top;
  }

  .___shift {
    text-decoration: underline;
    text-decoration-thickness:2px;
//        text-shadow: 0 0 50px $w;
  }

  .___shift:hover {
    cursor: pointer;
    color: $link-hover;
  }

  .___picture {
    width: 100vw;
    min-height: 80vh;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: linear all .5s;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
  }

  .box-inner {
    display: flex;
  }


  select.__who,
  option {
    font-size: .9em;
    background: none;
    font-family: $serif;
    letter-spacing: -1.5px;
    border: 0;
    line-height: 90%;
    display: inline-block;

  }

  p.__who {
    width: 100vw;
    text-indent: 7.5vw;
    font-size: 2.4em;
    letter-spacing: -1.5px;
    line-height: 90%;
    margin: 0 2.5vw;
    padding: 0;
    padding-right: 1em;
    
    a{
      display: inline;
      color: #000;
    }

    a:hover {
      cursor: pointer;
      color: blue;
    }

  }
  
  p.__who:hover a.h:not(:hover){
    opacity: 0.5;
}

  @media only screen and (max-width: 600px) {

    max-height: 100vh;

    .___picture {
      min-height: 80vh;
    }


    p.___what {
      font-size: 1.6rem;
      line-height: 100%;
      letter-spacing: -1.25px;
    }


    select.__who {
      border: 0;
    }

    p.__who {
      line-height: 90%;
      font-size: 1.8rem;
      padding-right: 0;
      letter-spacing: -1.5px;
    }

  }

}

#stuff {

  button.__open {
    width: 100%;
    border: 0;
    font-family: $serif;
    text-align: left;
    font-size: 1.75em;
    letter-spacing: -.5px;
    margin: 0;
  }

  ._stuff-wrapper {
    padding: 1em;
  }

  ._stuff {
    margin: 0;
    width: 100%;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }

}
