@font-face {
  font-family: 'RecifeDisplay Book';
  src: url('../fonts/RecifeDisplay-Book.woff2') format('woff2'),
    url('../fonts/RecifeDisplay-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RecifeDisplay Book';
  src: url('../fonts/RecifeDisplay-BookItalic.woff2') format('woff2'),
    url('../fonts/RecifeDisplay-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Union';
  src: url('../fonts/Union-Bold.woff2') format('woff2'),
    url('../fonts/Union-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Union';
  src: url('../fonts/Union-Italic.woff2') format('woff2'),
    url('../fonts/Union-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Union';
  src: url('../fonts/Union-BoldItalic.woff2') format('woff2'),
    url('../fonts/Union-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Union';
  src: url('../fonts/Union-Regular.woff2') format('woff2'),
    url('../fonts/Union-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// colors
$bg: #ededed;
$text: #141313;

$b: #141313;
$g: #acacac; // gray


* {
  box-sizing: border-box;
  font-family: "Union", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-margin-top: 10vh;
}

html {
  scroll-behavior: smooth;

}

body {
  background: $bg;
  font-family: "Union", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  margin: .5em 0;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  margin: .5em 0;
}

h2.intro {
  text-indent: 5vw;
  font-size: 1.5em;
  letter-spacing: -.5px;

  span {
    display: block;
    max-width: 600px;
  }
}

h3 {
  font-weight: normal;
  font-size: 1.5em;
  letter-spacing: -.5px;
  margin: .5em 0;
}

p {
  font-size: 1rem;
  line-height: 140%;
}

img {
  max-width: 100%;
}

hr {
  margin: 5vh 0;
  border: 0;
}

small {
  letter-spacing: .5px;
  font-size: 12px;
  text-transform: uppercase;
  font-variant: small-caps;
}

a {

  -o-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

// image adjustments

img.img-full {
  // stretch to fit wrapper
  width: 100%;
  object-fit: contain;
}

img.img-half {
  // half of wrapper
  max-width: 50%;
}

// grids

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


// holds everything together
.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  background: $bg;

  .container-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

}


// cursor 


.cursor {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
  z-index: 1;
  pointer-events: none;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}


//navigation

.navigation {

  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  z-index: 999;
  background: linear-gradient($bg 10%, rgba(237, 237, 237, 0));

  .navigation-content {
    width: 100%;
    max-width: 1400px;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navigation-summary {
    margin: 0;
    padding: 0;
    max-width: 420px;
    display: flex;

    p {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 110%;
    }

  }

  .navigation-links-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation-links {
    max-width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    vertical-align: top;

    a {
      display: block;
      width: 100%;
      font-size: 18px;
    }

  }

  @media only screen and (max-width: 800px) {


    .navigation-content {
      margin: 0;
      justify-content: flex-end;
    }

    .navigation-summary {
      display: none;
    }

    .navigation-links {
      width: 100px;

      a {
        font-size: 16px;

      }

    }

  }

}

.navigation-links:hover a:not(:hover) {
  // reduce opacity if material isnt hovered over
  opacity: 0.5;
}


.main {
  background: $bg;
  padding: 1em;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;

  @media only screen and (max-width: 800px) {

    padding: 0;
    padding-top: 100px;
  }
}

.main-content {
  max-width: 100%;
  //  border-left: 1px solid $g;
}

.links {

  display: flex;


  a {
    display: inline-block;
    width: 300px;
    font-size: 2em;
  }

}

.footer {

  width: 100%;
  padding: 1em;
  min-height: 50vh;
  margin-bottom: 50px;
  background: $bg;


  .footer-newsletter {
    padding: 0;
    margin: 0;


    input {
      font-size: 18px;
      padding: .5em;
    }

    input[type="text"] {
      width: 50%;
      max-width: 300px;
    }

    input[type="submit"]:hover {
      cursor: pointer;
    }

  }

}


// landing
