nav {
  position: fixed;
  padding: 1em 2em; }
  nav section._name {
    margin: .5em 0; }
  nav a {
    text-decoration: none; }
  nav a h1 {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: -.5px;
    color: black; }
  nav select {
    padding: .5em;
    font-size: 16px; }

main {
  padding: 2em; }
  @media only screen and (max-width: 600px) {
    main {
      padding: .5em; } }

.intro {
  margin: 0 auto;
  width: 90%;
  max-width: 650px; }
  .intro p {
    text-indent: 4vw; }
    @media only screen and (max-width: 600px) {
      .intro p {
        text-indent: 40px; } }

p a {
  display: inline !important; }

hr {
  margin: 2em auto; }

h3 {
  font-weight: normal;
  font-size: 1.5em;
  letter-spacing: -.5px;
  margin-bottom: .5em; }

h4 {
  font-weight: normal;
  font-size: 1.25em;
  letter-spacing: -.25px; }

section#talks a,
section#experiments a,
section#writing a {
  display: block;
  padding: .15em 0; }

#bucketlist input {
  pointer-events: none; }

#bucketlist label {
  font-size: 16px;
  letter-spacing: -.1px; }

