body {
  line-height: 100%; }
  @media only screen and (max-width: 600px) {
    body {
      overflow: hidden; } }

a {
  text-decoration: none; }

#no {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  display: none; }
  #no div {
    font-size: 4em;
    letter-spacing: -1px; }

#opener {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  color: #fff;
  pointer-events: none;
  animation: ifyouknewmewouldyoulovemebye 8s linear;
  animation-iteration-count: 1;
  display: none; }

#opener:after {
  content: "";
  font-size: 2em;
  letter-spacing: -2%;
  color: #000;
  animation: ifyouknewmewouldyouloveme 3s linear;
  animation-delay: 2s; }

@keyframes ifyouknewmewouldyouloveme {
  0% {
    content: "if"; }
  12.5% {
    content: "you"; }
  25% {
    content: "knew"; }
  37.5% {
    content: "me"; }
  50% {
    content: "would"; }
  62.5% {
    content: "you"; }
  75% {
    content: "love"; }
  87.5% {
    content: "me?"; }
  87.5% {
    display: none; } }

@keyframes ifyouknewmewouldyoulovemebye {
  0% {
    background: #fff; }
  80% {
    background: #fff; }
  100% {
    display: none;
    background: none; } }

#landing {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: top; }
  #landing .box-inner {
    padding: 2em;
    margin-top: -1em;
    vertical-align: top; }
  #landing .___shift {
    text-decoration: underline;
    text-decoration-thickness: 2px; }
  #landing .___shift:hover {
    cursor: pointer;
    color: blue; }
  #landing .___picture {
    width: 100vw;
    min-height: 80vh;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: linear all .5s;
    -webkit-transition-delay: .25s;
    transition-delay: .25s; }
  #landing .box-inner {
    display: flex; }
  #landing select.__who,
  #landing option {
    font-size: .9em;
    background: none;
    font-family: "Times New Roman", serif;
    letter-spacing: -1.5px;
    border: 0;
    line-height: 90%;
    display: inline-block; }
  #landing p.__who {
    width: 100vw;
    text-indent: 7.5vw;
    font-size: 2.4em;
    letter-spacing: -1.5px;
    line-height: 90%;
    margin: 0 2.5vw;
    padding: 0;
    padding-right: 1em; }
    #landing p.__who a {
      display: inline;
      color: #000; }
    #landing p.__who a:hover {
      cursor: pointer;
      color: blue; }
  #landing p.__who:hover a.h:not(:hover) {
    opacity: 0.5; }
  @media only screen and (max-width: 600px) {
    #landing {
      max-height: 100vh; }
      #landing .___picture {
        min-height: 80vh; }
      #landing p.___what {
        font-size: 1.6rem;
        line-height: 100%;
        letter-spacing: -1.25px; }
      #landing select.__who {
        border: 0; }
      #landing p.__who {
        line-height: 90%;
        font-size: 1.8rem;
        padding-right: 0;
        letter-spacing: -1.5px; } }

#stuff button.__open {
  width: 100%;
  border: 0;
  font-family: "Times New Roman", serif;
  text-align: left;
  font-size: 1.75em;
  letter-spacing: -.5px;
  margin: 0; }

#stuff ._stuff-wrapper {
  padding: 1em; }

#stuff ._stuff {
  margin: 0;
  width: 100%;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden; }

